.panel.panel-default.list-item.survey-container{ data: { id: question.id } }
  .panel-heading.list-item-inner
    .name.pull-left.padding5
      = question.title.html_safe

    .drag-handle.pull-right
      %i.icon-resize-vertical

    .btn-group.pull-right
      %button.btn.btn-default{ type: "button", data: { toggle: "collapse", target: "#question-branch-rules-#{ question.id }" } }
        Actions conditionnelles

      = link_to "Modifier", edit_admin_question_path(question), class: "btn btn-primary"

      = link_to admin_question_path(question), class: "btn btn-danger delete-btn", method: 'delete', data: { confirm: "Êtes-vous sûrs de bien vouloir supperimer cette question ?" } do
        %i.fa.fa-times
        Supprimer

    .clearfix

  .panel-body.collapse{ id: "question-branch-rules-#{ question.id }" }
    = f.fields_for :questions, [question] do |fq|
      .branch-rules{ id: "branch-rules-#{ fq.object.id }" }
        = fq.fields_for :branch_rules do |fbr|
          = render partial: question.field.rules_form_path, locals: { f: fbr, question: question } if fbr.object

        = link_to_add_fields "<i class=\"fa fa-plus\"></i>Ajouter une action conditionnelle", "#branch-rules-#{ fq.object.id }", builder: fq, relation: :branch_rules, partial: question.field.rules_form_path, locals: { question: question }
