.list-item.survey-container{ data: { id: question.id } }
  .list-item-inner
    .name.pull-left.padding5
      = question.title

    .drag-handle.pull-right
      %i.icon-resize-vertical

    .btn-group.pull-right
      %button.btn.btn-notice{ type: "button", data: { toggle: "collapse", target: "#question-branch-rules-#{ question.id }" } }
        Actions conditionnelles
      = link_to "Supprimer", admin_question_path(question), class: "btn btn-danger delete-btn", method: 'delete'
      = link_to "Modifier", edit_admin_question_path(question), class: "btn btn-primary"

    .clearfix

    .collapse{ id: "question-branch-rules-#{ question.id }" }
      = simple_form_for [:admin, question], url: edit_rules_admin_question_path(question), html: { class: "form-horizontal" } do |f|
        .branch-rules{ id: "branch-rules-#{ f.object.id }" }
          = f.fields_for :branch_rules do |fbr|
            = render partial: question.field.rules_form_path, locals: { f: fbr, question: question } if fbr.object

          = link_to_add_fields "Ajouter une action conditionnelle", "#branch-rules-#{ f.object.id }", builder: f, relation: :branch_rules, partial: question.field.rules_form_path, locals: { question: question }


        .form-group
          %button.btn.btn-primary{ type: "submit" }
            Mettre à jour les actions
          = link_to "Annuler", "", class: "btn btn-danger"