= simple_form_for section, url: path, html: { class: "form-horizontal glyph-form" } do |f|
  = f.input :title
  / = f.input :description, as: :rich, input_html: { rows: 5 }
  = f.input :description, input_html: { rows: 5 }

  .form-actions
    = link_to edit_admin_survey_path(section.survey || survey), class: "btn btn-default" do
      Retour
    %button.btn.btn-danger{ type: "submit" }
      = section.new_record? ? "Ajouter" : "Mettre à jour"

- unless section.new_record?
  = render partial: "surveillance/admin/questions/list"
