= simple_form_for section, url: path, html: { class: "form-horizontal glyph-form" } do |f|
  = f.input :title
  / = f.input :description, as: :rich, input_html: { rows: 5 }
  = f.input :description, input_html: { rows: 5 }

  - unless section.new_record?
    = render partial: "surveillance/admin/questions/list"

  .form-group.form-actions
    %button.btn.btn-primary{ type: "submit" }
      %i.fa.fa-check
      = section.new_record? ? "Ajouter" : "Mettre à jour"

    = link_to edit_admin_survey_path(section.survey || survey), class: "btn btn-default" do
      %i.fa.fa-arrow-left
      Retour
