.form-group
  %label.control-label{ required: question.mandatory }
    = "*" if question.mandatory
    = question.title.html_safe

  - if question.description.presence
    %p.help-block
      = question.description.html_safe

.survey-order-field
  - question.questions.each_with_index do |sub_question, index|
    = f.fields_for :answers, (sub_question.field.answer_or_initialize_for(f.object)) do |fa|
      .panel.panel-default.orderable-item
        .panel-heading
          .pull-left.fa.fa-arrows

          = sub_question.title.html_safe
          = fa.hidden_field :question_id, value: sub_question.id if fa.object.new_record?
          = fa.fields_for :content, Surveillance::AnswerContent.new do |fc|
            = fc.hidden_field :value, value: index, class: "sub-question-input"

