= simple_form_for attempt, url: response_attempt_path(attempt), html: { class: "surveillance-attempt-form", data: { "partial-update-url" => response_partial_attempt_path(attempt) } } do |f|
  = f.hidden_field :survey_id, value: survey.id
  = f.hidden_field :last_answered_section, class: "last-answered-section"

  .survey-question
    .titre
      = survey.title

  - if survey.description.presence
    .survey-description
      = survey.description.html_safe

  .survey-sections
    - survey.sections.each_with_index do |section, index|
      = render partial: "surveillance/sections/section", locals: { survey: survey, section: section, index: index, attempt: attempt, f: f }
