= f.fields_for :settings, question.settings.find_or_initialize_by(key: key.to_s) do |fb|
  - setting = question.field.settings[key]
  .form-group
    .controls
      %label.checkbox
        = fb.check_box :value
        = setting.admin_label

    = fb.hidden_field :key, value: key
    = fb.hidden_field :id, value: fb.object.id if fb.object.persisted?