.form-group
  %label.control-label{ required: question.mandatory }
    = "*" if question.mandatory
    = question.title.html_safe

  - if question.description.presence
    %p.help-block
      = question.description.html_safe

  .form-controls
    %table.table.table-striped.table-bordered.table-rounded
      %thead
        %tr
          %th
          - question.options.each do |option|
            %th
              = option.title

      %tbody
        - question.ordered_sub_questions.each do |sub_question|
          = f.fields_for :answers, (sub_question.field.answer_or_initialize_for(f.object)) do |fa|
            %tr.form-group{ class: ("error" if fa.object.errors.any?), data: { "sub-question-id" => sub_question.id } }
              %td
                %label.control-label
                  = sub_question.title.html_safe
                = fa.hidden_field :question_id, value: sub_question.id if fa.object.new_record?
              - question.options.each do |option|
                %td
                  %label
                    = fa.radio_button :option_id, option.id

        = f.fields_for :answers, (question.field.answer_or_initialize_for(f.object)) do |fa|
          %tr.form-group
            - if question.field.display_other_field?(question)
              %td
                = fa.radio_button :option_id, "other", checked: fa.object.other_choosed
                = question.field.settings.other.label
              %td{ colspan: question.questions.length }
                = fa.fields_for :content, fa.object.content_or_build do |fc|
                  = fc.input :value, as: :string, label: false
