- questions_fields_path = Surveillance::Field::Matrix.questions_fields_path

.matrix-questions{ id: "matrix-questions-#{ f.object.id }", data: { collection: true } }

  %h2
    Questions de la matrice

  = f.fields_for :questions do |fq|
    = render partial: questions_fields_path, locals: { f: fq } if fq.object

  = link_to_add_fields "Ajouter une question à la matrice", "#matrix-questions-#{ f.object.id }", builder: f, relation: :questions, partial: questions_fields_path
