.form-group
  %label.control-label{ required: question.mandatory }
    = "*" if question.mandatory
    = question.title.html_safe

  .form-controls
    %table.table.table-striped.table-bordered.table-rounded
      %tbody
        - question.questions.each do |sub_question|
          = f.fields_for :answers, (sub_question.field.answer_or_initialize_for(f.object)) do |fa|
            %tr.form-group{ class: ("error" if fa.object.errors.any?), data: { "sub-question-id" => sub_question.id } }
              %td
                %label.control-label
                  = sub_question.title.html_safe
                = fa.hidden_field :question_id, value: sub_question.id if fa.object.new_record?
              %td
                = fa.input_field :option_id, collection: question.options, multiple: false, required: question.mandatory
