= f.fields_for :settings, question.settings.where(key: key.to_s).first_or_initialize do |fb|
  .form-group
    = fb.label :value, setting.admin_label, class: "control-label col-sm-2"
    .col-sm-10
      = fb.check_box :value


    = fb.hidden_field :key, value: key
    = fb.hidden_field :id, value: fb.object.id if fb.object.persisted?