= f.fields_for :settings, question.settings.where(key: "other").first_or_initialize do |fo|
  - other = question.field.settings.other
  .form-group
    .form-controls
      %label.checkbox
        = fo.check_box :value
        = other.admin_label

    = fo.hidden_field :key, value: :other
    = fo.hidden_field :id, value: fo.object.id if fo.object.persisted?

= f.fields_for :settings, question.settings.where(key: "randomize").first_or_initialize do |fr|
  - randomize = question.field.settings.randomize
  .form-group
    .form-controls
      %label.checkbox
        = fr.check_box :value
        = randomize.admin_label

    = fr.hidden_field :key, value: :randomize
    = fr.hidden_field :id, value: fr.object.id if fr.object.persisted?
