%h1
  = "Sondage #{ survey.title }"
  = link_to admin_surveys_path, class: "btn btn-default pull-right" do
    %i.fa.fa-arrow-left
    Retour à la liste des sondages

%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#liste-reponses"}
      Liste des réponses
  %li
    %a{"data-toggle" => "tab", :href => "#recap"}
      Recapitulatif

.tab-content.inside-shadow

  #liste-reponses.tab-pane.fade.in.active
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th= t("surveillance.attempts.answer_date")
          %th= t("surveillance.attempts.state")
          %th= t("surveillance.attempts.ip_address")
          %th
      %tbody
        - attempts.each do |attempt|
          %tr.attempt
            %td
              = l(attempt.created_at)
            %td
              = attempt.state_label
            %td
              = attempt.ip_address
            %td
              = link_to "Voir les réponses", admin_attempt_path(id: attempt.id), class: "btn btn-default"
              = link_to admin_attempt_path(id: attempt.id), class: "btn btn-danger", data: { confirm: t("flashes.surveillance/admin/attempts.destroy.confirm_message"), method: "delete" } do
                %i.fa.fa-times
                Supprimer
  = paginate attempts, theme: 'bootstrap3'

  #recap.tab-pane.fade

    - survey.sections.each do |section|
      %h1= section.title
      - section.questions.each do |question|
        = survey_overview_for question
